.App {
  text-align: center;
}

body{
  color: #2a2e2e;
  background-color: #f9f3ee;
}

/* 設定推定 */
.control-panel{
  white-space: nowrap; /* 改行しない */
  overflow-x: auto; /* 収まらない場合はスクロール */
  padding: 0;
}

/* 個々のカウンタ */
.counter{
  display: inline-block; /* 横並び+コンテンツに応じた幅 */
  text-align: center;
  padding: 10px;
  border-style: solid;
  margin: 0 10px;
}

/* カウント対象 */
/* .countee-title{} */

/* 回数, 確率 */
.count, .likelihood{
  background-color: snow;
  padding: 5px 10px;
  border: inset;
}

.btn{
  padding: 5px 20px;
  border: none;
  /* box-shadow: 2px 2px 3px #999; */
}

.btn:active{
  border-bottom: none;
  margin-bottom: 4px;
  transform: translateY(4px);
}

.count-up{
  background-color: #d86681;
  border-bottom: solid 4px #956270;
}

.count-down{
  background-color: #668ad8;
  border-bottom: solid 4px #627295;
}

.arrow{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: auto;
  margin-right: auto;
}

.up {
  border-bottom: 15px solid white;
  margin-top: 35%;
  margin-bottom: 60%;
}

.down{
  border-top: 15px solid white;
  margin-top: 60%;
  margin-bottom: 35%;
}

.estimation{
  background-color: snow;
  padding: 5px 10px;
  border-style: inset;
}

/* 公称値の表 */
table{
  display: block; /* tableタグのデフォルト値はtable */
  overflow-x: auto; /* 収まらない場合はスクロール */
  width: 80%;
  max-width: 700px;
  padding: 0;
  border-width: 2px 0;
  border-style: solid;
  border-color: black;
  border-spacing: 0;
  margin: 10px auto
}

/* スクロールが必要ない場合に表の右側に発生する余計な余白を無くす */
table tbody{
  display: table;
  width: 100%;
}

th, td{
  white-space: nowrap; /* 改行しない */
  padding: 5px 15px;
  border-width: 1px 0;
  border-style: solid;
  border-color: gray;
  margin: 0;
}

th{
  text-align: center;
  font-weight: bold;
  background-color: lightsteelblue;
  margin: 0;
}

td{
  background-color: white;
  text-align: right;
}

hr{
  width: 80%;
  max-width: 800px;
  height: 0;
  border-radius: 2px;
  border: 2px solid hsl(0, 0%, 60%);
  margin: 20px auto;
}

/* 収支計算 */
.calculator{
  display: flex;
  align-items: flex-start; /* 上寄せ */
  justify-content: center; /* 左右中央寄せ */
}

/* 算術演算子 */
.formula-symbol{
  align-self: center;
  font-size: x-large;
  font-weight: bold;
  margin-top: -20px; /* 微調整 */
}

/* 金額表示部 */
.amount-form{
  width: 30%;
  max-width: 250px;
  text-align: center;
  padding: 10px 0;
  /* border: solid; */
  margin: 0 5px 20px; /* 上 左右 下 */
}

.amount-form h3{
  margin: 0 auto;
}

.amount-form input{
  width: 90%;
  text-align: center; /* フォーム内の中央寄せ */
  font-size: 15px;
  padding: 5px 0;
  margin: 5px 0;
}

.amount-form.benefit-zone{
  /* 入力フォームより幅を狭める */
  width: 30%;
  max-width: 200px;
}

.benefit{
  width: 90%;
  background-color: snow;
  padding: 5px 0;
  border: inset;
  margin: 5px auto; /* 中央寄せが効かなかったため */
}

/* エラーメッセージ */
.error-msg{
  width: 90%;
  color: #f9f3ee; /* 背景と同じ色 */
  font-size: 13px;
  font-weight: bold;
  padding: 5px 0;
  border-radius: 5px;
  margin: 0 auto;
}

/* エラー時のみ可視化される */
.error-msg.on-error{
  color: white;
  background-color: #d01137;
}
